* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  color: #191919;
}
html a,
body a {
  text-decoration: none;
}

header {
  background-color: #f0efe9;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 1rem;
}
header .header {
  display: flex;
  /* contact-social-nav-account */
}
header .header .logo {
  display: none;
  size: 50%;
  align-items: center;
  margin-right: 0px;
}
@media (min-width: 768px) {
  header .header .logo {
    margin-right: 25px;
    display: flex;
  }
}
@media (min-width: 992px) {
  header .header .logo {
    margin-right: 50px;
  }
}
header .header .csna {
  display: flex;
  flex-direction: column;
}
header .header .csna .contact-social {
  display: flex;
  justify-content: space-between;
  border: solid #a8b3bf;
  border-width: 0px 0px 1px;
  padding-bottom: 0px;
  font-size: 0.93em;
}
@media (min-width: 768px) {
  header .header .csna .contact-social {
    justify-content: flex-end;
    padding-bottom: 10px;
  }
}
@media (min-width: 992px) {
  header .header .csna .contact-social {
    justify-content: space-between;
  }
}
header .header .csna .contact-social .contact {
  color: #49494d;
  font-weight: 300;
  display: none;
  align-items: center;
  justify-items: flex-end;
  gap: 20px;
}
@media (min-width: 992px) {
  header .header .csna .contact-social .contact {
    display: flex;
  }
}
header .header .csna .contact-social .small-logo {
  display: flex;
}
header .header .csna .contact-social .small-logo img {
  height: 75%;
}
@media (min-width: 768px) {
  header .header .csna .contact-social .small-logo {
    display: none;
  }
}
header .header .csna .contact-social .social {
  display: flex;
  gap: 20px;
  font-size: 1.5em;
}
header .header .csna .contact-social .social a {
  color: inherit;
  transition-duration: 0.3s;
}
header .header .csna .contact-social .social a:hover {
  color: #edcf87;
  text-shadow: 0px 0px 10px #6666ff;
}
header .header .csna .navigation-account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
header .header .csna .navigation-account nav {
  display: flex;
  gap: 5px;
  font-size: 1em;
  font-weight: 600;
}
@media (min-width: 400px) {
  header .header .csna .navigation-account nav {
    gap: 15px;
  }
}
@media (min-width: 576px) {
  header .header .csna .navigation-account nav {
    gap: 30px;
  }
}
header .header .csna .navigation-account nav a {
  color: inherit;
  text-decoration: none;
}
header .header .csna .navigation-account nav a.current {
  text-decoration: underline;
  text-decoration-style: double;
}
header .header .csna .navigation-account nav a:hover {
  text-decoration: underline;
}
header .header .csna .navigation-account .account-mobile {
  display: block;
  margin-left: 10px;
}
header .header .csna .navigation-account .account-mobile button {
  height: 1.75rem;
}
@media (min-width: 768px) {
  header .header .csna .navigation-account .account-mobile {
    display: none;
  }
}
header .header .csna .navigation-account .account-large {
  display: none;
}
@media (min-width: 768px) {
  header .header .csna .navigation-account .account-large {
    display: block;
  }
}

main {
  height: 90%;
}
main .showcase {
  background-color: #f0efe9;
  padding-top: 2rem;
  background-image: url("../img/background/background-lines.svg");
  background-repeat: no-repeat;
  background-position: bottom left;
  animation: bg-size-bounce 10s infinite ease-in-out, bg-enter-left 1s ease-in-out;
}
main .showcase .container {
  animation: enter-right 0.8s ease-in-out;
  display: flex;
}
main .showcase .container img {
  display: none;
}
@media (min-width: 1200px) {
  main .showcase .container img {
    display: block;
  }
}
main .showcase .container .jumbo {
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
}
@media (min-width: 1200px) {
  main .showcase .container .jumbo {
    margin-top: 90px;
    margin-bottom: 0;
    text-align: left;
  }
}
main .showcase .container .jumbo .content {
  display: flex;
  flex-direction: column;
  justify-items: center;
}
main .showcase .container .jumbo .content h1 {
  font-family: "Inter bold", sans-serif;
  font-size: 3em;
  font-weight: 700;
}
@media (min-width: 768px) {
  main .showcase .container .jumbo .content h1 {
    font-size: 4em;
  }
}
@media (min-width: 992px) {
  main .showcase .container .jumbo .content h1 {
    font-size: 5em;
  }
}
main .showcase .container .jumbo .content p {
  color: #5b5b5b;
  font-size: 1em;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}
@media (min-width: 576px) {
  main .showcase .container .jumbo .content p {
    font-size: 1.2em;
  }
}
main .showcase .container .jumbo .content #learn-more {
  margin-left: 0rem;
  margin-top: 1rem;
}
@media (min-width: 400px) {
  main .showcase .container .jumbo .content #learn-more {
    margin-left: 1rem;
    margin-top: 0;
  }
}
main .partners {
  padding-top: 4vh;
  padding-bottom: 4vh;
  animation: enter-bottom 1s ease-in-out;
}
@media (min-width: 992px) {
  main .partners {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}
main .partners .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px 60px;
}
@media (min-width: 992px) {
  main .partners .container {
    gap: 20px 20px;
  }
}

footer {
  height: 3rem;
  border: solid #191919;
  border-width: 1px 0px 0px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer a {
  color: rgb(133, 133, 133);
}
footer a:hover {
  color: rgb(184, 184, 184);
}

#gmp-map {
  height: 620px;
  width: 100%;
}

p {
  font-family: "Atkinson Hyperlegible", sans-serif;
}

button {
  height: 3.5rem;
  border-radius: 1.75rem;
  border: 1px solid transparent;
  padding: 0px 25px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  transition-duration: 0.4s;
}
button.btn-black {
  background-color: #191919;
  color: white;
}
button.btn-black:hover {
  background-color: white;
  color: #191919;
}
button.btn-white {
  background-color: white;
}
button.btn-white:hover {
  background-color: #191919;
  color: white;
}
button.btn-orange {
  background-color: #f9d783;
}
button.btn-orange:hover {
  background-color: #191919;
  color: white;
}
button.btn-transparent {
  background-color: transparent;
  border: 1px solid black;
}
button.btn-transparent:hover {
  border: 1px solid #f9d783;
  color: white;
  background-color: black;
}
button.login {
  padding: 0px 39px;
}
button.btn-orange-round {
  padding: 0px 20px;
  background-color: #f9d783;
}
button.btn-orange-round:hover {
  background-color: #191919;
  color: white;
}

@keyframes enter-right {
  0% {
    translate: 100vw;
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    translate: 0;
    opacity: 100;
  }
}
@keyframes enter-left {
  0% {
    translate: -100vw;
  }
  30% {
    opacity: 0;
  }
}
@keyframes enter-bottom {
  0% {
    translate: 0 100%;
    opacity: 0;
  }
}
@keyframes bounce-updown {
  0%, 100% {
    translate: 0 0vh;
  }
  50% {
    translate: 0 -2vh;
  }
}
@keyframes bg-enter-left {
  0% {
    background-position-x: -100vw;
  }
}
@keyframes bg-size-bounce {
  0%, 100% {
    background-size: 42% auto;
  }
  50% {
    background-size: 39% auto;
  }
}