@keyframes enter-right {
  0% {
    translate: 100vw;
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    translate: 0;
    opacity: 100;
  }
}
@keyframes enter-bottom {
  0% {
    translate: 0 100%;
    opacity: 0;
  }
  100% {
    translate: 0 0;
    opacity: 100%;
  }
}
@keyframes bounce-updown {
  0%, 100% {
    translate: 0 0vh;
  }
  50% {
    translate: 0 -2vh;
  }
}
@keyframes bg-enter-left {
  0% {
    background-position-x: -100vw;
  }
  100% {
    background-position-x: 0vw;
  }
}
@keyframes bg-enter-right {
  0% {
    background-position-x: 100vw;
  }
  100% {
    background-position-x: 0vw;
  }
}
@keyframes bg-size-bounce {
  0%, 100% {
    background-size: 42% auto;
  }
  50% {
    background-size: 39% auto;
  }
}
@keyframes bg-size-bounce-small {
  0%, 100% {
    background-size: 19% auto;
  }
  50% {
    background-size: 16% auto;
  }
}
* {
  box-sizing: border-box;
}

html,
body {
  color: #191919;
  font-family: "Inter bold", sans-serif;
}
html a,
body a {
  color: #191919;
  text-decoration: none;
}

header {
  width: 100%;
  background-color: #f0efe9;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 1rem;
}
header .container {
  display: flex;
  /* contact-social-nav-account */
}
header .container .logo {
  display: none;
  size: 50%;
  align-items: center;
  margin-right: 0px;
}
@media (min-width: 768px) {
  header .container .logo {
    margin-right: 5px;
    display: flex;
  }
}
@media (min-width: 1200px) {
  header .container .logo {
    margin-right: 50px;
    display: flex;
  }
}
header .container .csna {
  display: flex;
  flex-direction: column;
  width: 100%;
}
header .container .csna .contact-social {
  display: flex;
  justify-content: space-between;
  border: solid #a8b3bf;
  border-width: 0px 0px 1px;
  padding-bottom: 0px;
  font-size: 0.93em;
}
@media (min-width: 768px) {
  header .container .csna .contact-social {
    justify-content: flex-end;
    padding-bottom: 10px;
  }
}
@media (min-width: 992px) {
  header .container .csna .contact-social {
    justify-content: space-between;
  }
}
header .container .csna .contact-social .contact {
  color: #49494d;
  font-weight: 300;
  display: none;
  align-items: center;
  justify-items: flex-end;
  gap: 20px;
}
@media (min-width: 992px) {
  header .container .csna .contact-social .contact {
    display: flex;
  }
}
header .container .csna .contact-social .small-logo {
  display: flex;
}
header .container .csna .contact-social .small-logo img {
  height: 75%;
}
@media (min-width: 768px) {
  header .container .csna .contact-social .small-logo {
    display: none;
  }
}
header .container .csna .contact-social .social {
  display: flex;
  gap: 15px;
  font-size: 1.5em;
}
header .container .csna .contact-social .social a {
  color: inherit;
  transition-duration: 0.3s;
}
header .container .csna .contact-social .social a:hover {
  color: #edcf87;
  text-shadow: 0px 0px 10px #6666ff;
}
header .container .csna .navigation-account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
header .container .csna .navigation-account nav {
  display: flex;
  gap: 5px;
  font-size: 1em;
  font-weight: 600;
}
@media (min-width: 400px) {
  header .container .csna .navigation-account nav {
    gap: 15px;
  }
}
@media (min-width: 576px) {
  header .container .csna .navigation-account nav {
    gap: 30px;
  }
}
header .container .csna .navigation-account nav a {
  color: inherit;
  text-decoration: none;
}
header .container .csna .navigation-account nav a.current {
  text-decoration: underline;
  text-decoration-style: double;
}
header .container .csna .navigation-account nav a:hover {
  text-decoration: underline;
}
header .container .csna .navigation-account .account-mobile {
  display: block;
  margin-left: 10px;
}
header .container .csna .navigation-account .account-mobile button {
  height: 1.75rem;
}
@media (min-width: 768px) {
  header .container .csna .navigation-account .account-mobile {
    display: none;
  }
}
header .container .csna .navigation-account .account-large {
  display: none;
}
@media (min-width: 768px) {
  header .container .csna .navigation-account .account-large {
    display: block;
  }
}

main {
  width: 100%;
}
main .showcase {
  background-color: #f0efe9;
  padding-top: 2rem;
  background-image: url("../img/background/background-lines.svg");
  background-repeat: no-repeat;
  background-position: bottom left;
  animation: bg-size-bounce 10s infinite ease-in-out, bg-enter-left 1s ease-in-out;
}
main .showcase .container {
  animation: enter-right 0.8s ease-in-out;
  display: flex;
}
main .showcase .container img {
  display: none;
}
@media (min-width: 1200px) {
  main .showcase .container img {
    display: block;
  }
}
main .showcase .container .jumbo {
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
}
@media (min-width: 1200px) {
  main .showcase .container .jumbo {
    margin-top: 90px;
    margin-bottom: 0;
    text-align: left;
  }
}
main .showcase .container .jumbo .content {
  display: flex;
  flex-direction: column;
  justify-items: center;
}
main .showcase .container .jumbo .content h1 {
  font-size: 3em;
  font-weight: 700;
}
@media (min-width: 768px) {
  main .showcase .container .jumbo .content h1 {
    font-size: 4em;
  }
}
@media (min-width: 992px) {
  main .showcase .container .jumbo .content h1 {
    font-size: 5em;
  }
}
main .showcase .container .jumbo .content p {
  font-size: 1em;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}
@media (min-width: 576px) {
  main .showcase .container .jumbo .content p {
    font-size: 1.2em;
  }
}
main .showcase .container .jumbo .content #learn-more {
  margin-left: 0rem;
  margin-top: 1rem;
}
@media (min-width: 400px) {
  main .showcase .container .jumbo .content #learn-more {
    margin-left: 1rem;
    margin-top: 0;
  }
}
main .partners {
  padding-top: 4vh;
  padding-bottom: 4vh;
  animation: enter-bottom 1s ease-in-out;
}
@media (min-width: 992px) {
  main .partners {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}
main .partners .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px 20px;
}
@media (min-width: 768px) {
  main .partners .container {
    gap: 20px 60px;
  }
}
@media (min-width: 992px) {
  main .partners .container {
    gap: 20px 20px;
  }
}
@media (min-width: 1200px) {
  main .partners .container {
    justify-content: space-around;
  }
}
main .partners .container img {
  width: 25vw;
}
@media (min-width: 768px) {
  main .partners .container img {
    width: auto;
  }
}
main .features .container {
  border: 2px solid #f0efe9;
  display: flex;
  flex-direction: column;
}
@media (min-width: 992px) {
  main .features .container {
    padding: 50px;
    flex-direction: row;
  }
}
main .features .container .info {
  flex: 1;
  padding: 0px;
  margin-top: -20px;
  margin-bottom: 40px;
  text-align: center;
}
@media (min-width: 992px) {
  main .features .container .info {
    margin-bottom: 0px;
    padding: 50px;
  }
}
main .features .container .info h2 {
  margin-bottom: 50px;
}
@media (min-width: 992px) {
  main .features .container .info h2 {
    text-align: left;
  }
}
main .features .container .info h3 {
  margin-top: 40px;
}
@media (min-width: 992px) {
  main .features .container .info h3 {
    text-align: left;
    margin-top: 0px;
  }
}
main .features .container .info button {
  width: 90%;
}
main .features .container .grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-right: 0px;
}
@media (min-width: 1200px) {
  main .features .container .grid {
    margin-right: 50px;
  }
}
main .features .container .grid .content {
  padding: 1rem;
  max-width: 300px;
}
main .features .container .grid .content span {
  font-size: 1.75rem;
  margin-bottom: 30px;
}
main .features .container .grid h4 {
  padding-bottom: 15px;
}
main .services {
  background-color: #f0efe9;
  padding-top: 9vh;
  padding-bottom: 9vh;
  background-image: url("../img/background/background-lines-right.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
  animation: bg-size-bounce 10s infinite ease-in-out;
}
main .services h2 {
  margin-bottom: 40px;
}
main .services .flexbox {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
main .services .flexbox .content {
  position: relative;
  background-color: white;
  max-height: 333px;
  padding: 30px;
  transition-duration: 0.3s;
}
main .services .flexbox .content .fa-horizontal-rule {
  padding-top: 10px;
  padding-bottom: 40px;
}
main .services .flexbox .content .button-box {
  display: flex;
  justify-content: right;
}
main .services .flexbox .content:hover {
  background-color: #f9d783;
}
main .services .flexbox .content:hover > .button-box > button {
  color: #191919;
  background-color: white;
}
main .services .browse {
  margin-top: 40px;
  text-align: center;
}
main .studies {
  margin-top: 9vh;
  margin-bottom: 9vh;
}
main .studies .container {
  text-align: center;
}
main .studies .container .content-box {
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-top: 9vh;
}
main .studies .container .content-box .content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}
main .studies .container .content-box .content img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100px;
  width: 100%;
}
@media (min-width: 768px) {
  main .studies .container .content-box .content img {
    height: 200px;
  }
}
@media (min-width: 992px) {
  main .studies .container .content-box .content img {
    height: 250px;
  }
}
@media (min-width: 992px) {
  main .studies .container .content-box .content img {
    height: 300px;
  }
}
main .studies .container .content-box .content h4 {
  margin-top: 30px;
  margin-bottom: 15px;
}
main .studies .container .content-box a {
  display: block;
  text-align: right;
  font-size: 0.9rem;
  font-weight: 500;
  border-top: 2px solid #f0efe9;
  padding-top: 15px;
  padding-right: 10px;
}
@media (min-width: 992px) {
  main .studies .container .content-box a {
    padding-top: 30px;
    padding-right: 20px;
  }
}
main .studies .container button {
  margin-top: 5vh;
}
main #to-top {
  display: none;
  position: fixed;
  right: 3vw;
  bottom: 9vh;
  height: 2.9166666667rem;
  width: 2.9166666667rem;
}

footer {
  width: 100%;
  background-color: #0e1021;
}
footer .footer-upper {
  background-image: url("../img/background/background-lines-white-right.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
  animation: bg-size-bounce-small 15s infinite ease-in-out;
}
footer .footer-upper .container .navigation {
  display: flex;
  height: 250px;
}
footer .footer-lower {
  border-top: 1px solid #b6b6bc;
}
footer .footer-lower .container .copyright-social {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
footer .footer-lower .container .copyright-social p {
  color: #b6b6bc;
}
footer .footer-lower .container .copyright-social .social {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 25px;
       column-gap: 25px;
}
footer .footer-lower .container .copyright-social .social a {
  color: white;
}

h2 {
  font-size: 1.5rem;
  font-weight: 900;
}
@media (min-width: 768px) {
  h2 {
    font-size: 2.2rem;
  }
}
@media (min-width: 992px) {
  h2 {
    font-size: 2.8rem;
    font-weight: 700;
  }
}

h3 {
  color: #f94d1c;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 20px;
}

h4 {
  font-size: 1rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  h4 {
    font-size: 1.2rem;
  }
}
@media (min-width: 992px) {
  h4 {
    font-size: 1.4rem;
  }
}

p {
  font-family: "Atkinson Hyperlegible", sans-serif;
  color: #5b5b5b;
}

button {
  height: 3.5rem;
  border-radius: 1.75rem;
  border: 1px solid transparent;
  padding: 0px 25px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  transition-duration: 0.4s;
}
button.btn-black {
  background-color: #191919;
  color: white;
}
button.btn-black:hover {
  background-color: white;
  color: #191919;
}
button.btn-white {
  background-color: white;
}
button.btn-white:hover {
  background-color: #191919;
  color: white;
}
button.btn-orange {
  background-color: #f9d783;
}
button.btn-orange:hover {
  background-color: #191919;
  color: white;
}
button.btn-transparent {
  background-color: transparent;
  border: 1px solid black;
}
button.btn-transparent:hover {
  border: 1px solid #f9d783;
  color: white;
  background-color: black;
}
button.round {
  padding: 0;
  width: 3.5rem;
}

input,
textarea {
  font-family: "Atkinson Hyperlegible", sans-serif;
  border-radius: 25px;
  border: transparent;
  padding: 0.5rem 1.5rem;
}
@media (min-width: 1200px) {
  input,
  textarea {
    border-radius: 50px;
    padding: 1rem 2.5rem;
  }
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: #b6b6bc;
}
input::placeholder,
textarea::placeholder {
  color: #b6b6bc;
}
input:focus,
textarea:focus {
  outline: 3px solid #f9d783;
}

textarea {
  min-height: 2.5rem;
}
@media (min-width: 1200px) {
  textarea {
    min-height: 3.5rem;
  }
}

.s404 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.s404 main {
  flex-grow: 1;
}
.s404 img {
  padding: 50px;
}