@keyframes enter-right {
  0% {
    translate: 100vw;
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    translate: 0;
    opacity: 100;
  }
}
@keyframes enter-bottom {
  0% {
    translate: 0 100%;
    opacity: 0;
  }
  100% {
    translate: 0 0;
    opacity: 100%;
  }
}
@keyframes bounce-updown {
  0%, 100% {
    translate: 0 0vh;
  }
  50% {
    translate: 0 -2vh;
  }
}
@keyframes bg-enter-left {
  0% {
    background-position-x: -100vw;
  }
  100% {
    background-position-x: 0vw;
  }
}
@keyframes bg-enter-right {
  0% {
    background-position-x: 100vw;
  }
  100% {
    background-position-x: 0vw;
  }
}
@keyframes bg-size-bounce {
  0%, 100% {
    background-size: 42% auto;
  }
  50% {
    background-size: 39% auto;
  }
}
@keyframes bg-size-bounce-small {
  0%, 100% {
    background-size: 19% auto;
  }
  50% {
    background-size: 16% auto;
  }
}
* {
  box-sizing: border-box;
}

html,
body {
  color: #191919;
  font-family: "Inter bold", sans-serif;
}
html a,
body a {
  color: #191919;
  text-decoration: none;
}

header {
  width: 100%;
  background-color: #f0efe9;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 1rem;
}
header .container {
  display: flex;
  /* contact-social-nav-account */
}
header .container .logo {
  display: none;
  size: 50%;
  align-items: center;
  margin-right: 0px;
}
@media (min-width: 768px) {
  header .container .logo {
    margin-right: 5px;
    display: flex;
  }
}
@media (min-width: 1200px) {
  header .container .logo {
    margin-right: 50px;
    display: flex;
  }
}
header .container .csna {
  display: flex;
  flex-direction: column;
  width: 100%;
}
header .container .csna .contact-social {
  display: flex;
  justify-content: space-between;
  border: solid #a8b3bf;
  border-width: 0px 0px 1px;
  padding-bottom: 0px;
  font-size: 0.93em;
}
@media (min-width: 768px) {
  header .container .csna .contact-social {
    justify-content: flex-end;
    padding-bottom: 10px;
  }
}
@media (min-width: 992px) {
  header .container .csna .contact-social {
    justify-content: space-between;
  }
}
header .container .csna .contact-social .contact {
  color: #49494d;
  font-weight: 300;
  display: none;
  align-items: center;
  justify-items: flex-end;
  gap: 20px;
}
@media (min-width: 992px) {
  header .container .csna .contact-social .contact {
    display: flex;
  }
}
header .container .csna .contact-social .small-logo {
  display: flex;
}
header .container .csna .contact-social .small-logo img {
  height: 75%;
}
@media (min-width: 768px) {
  header .container .csna .contact-social .small-logo {
    display: none;
  }
}
header .container .csna .contact-social .social {
  display: flex;
  gap: 15px;
  font-size: 1.5em;
}
header .container .csna .contact-social .social a {
  color: inherit;
  transition-duration: 0.3s;
}
header .container .csna .contact-social .social a:hover {
  color: #edcf87;
  text-shadow: 0px 0px 10px #6666ff;
}
header .container .csna .navigation-account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
header .container .csna .navigation-account nav {
  display: flex;
  gap: 5px;
  font-size: 1em;
  font-weight: 600;
}
@media (min-width: 400px) {
  header .container .csna .navigation-account nav {
    gap: 15px;
  }
}
@media (min-width: 576px) {
  header .container .csna .navigation-account nav {
    gap: 30px;
  }
}
header .container .csna .navigation-account nav a {
  color: inherit;
  text-decoration: none;
}
header .container .csna .navigation-account nav a.current {
  text-decoration: underline;
  text-decoration-style: double;
}
header .container .csna .navigation-account nav a:hover {
  text-decoration: underline;
}
header .container .csna .navigation-account .account-mobile {
  display: block;
  margin-left: 10px;
}
header .container .csna .navigation-account .account-mobile button {
  height: 1.75rem;
}
@media (min-width: 768px) {
  header .container .csna .navigation-account .account-mobile {
    display: none;
  }
}
header .container .csna .navigation-account .account-large {
  display: none;
}
@media (min-width: 768px) {
  header .container .csna .navigation-account .account-large {
    display: block;
  }
}

main {
  width: 100%;
}
main .showcase {
  background-color: #f0efe9;
  padding-top: 2rem;
  background-image: url("../img/background/background-lines.svg");
  background-repeat: no-repeat;
  background-position: bottom left;
  animation: bg-size-bounce 10s infinite ease-in-out, bg-enter-left 1s ease-in-out;
}
main .showcase .container {
  animation: enter-right 0.8s ease-in-out;
  display: flex;
}
main .showcase .container img {
  display: none;
}
@media (min-width: 1200px) {
  main .showcase .container img {
    display: block;
  }
}
main .showcase .container .jumbo {
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
}
@media (min-width: 1200px) {
  main .showcase .container .jumbo {
    margin-top: 90px;
    margin-bottom: 0;
    text-align: left;
  }
}
main .showcase .container .jumbo .content {
  display: flex;
  flex-direction: column;
  justify-items: center;
}
main .showcase .container .jumbo .content h1 {
  font-size: 3em;
  font-weight: 700;
}
@media (min-width: 768px) {
  main .showcase .container .jumbo .content h1 {
    font-size: 4em;
  }
}
@media (min-width: 992px) {
  main .showcase .container .jumbo .content h1 {
    font-size: 5em;
  }
}
main .showcase .container .jumbo .content p {
  font-size: 1em;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}
@media (min-width: 576px) {
  main .showcase .container .jumbo .content p {
    font-size: 1.2em;
  }
}
main .showcase .container .jumbo .content #learn-more {
  margin-left: 0rem;
  margin-top: 1rem;
}
@media (min-width: 400px) {
  main .showcase .container .jumbo .content #learn-more {
    margin-left: 1rem;
    margin-top: 0;
  }
}
main .partners {
  padding-top: 4vh;
  padding-bottom: 4vh;
  animation: enter-bottom 1s ease-in-out;
}
@media (min-width: 992px) {
  main .partners {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}
main .partners .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px 20px;
}
@media (min-width: 768px) {
  main .partners .container {
    gap: 20px 60px;
  }
}
@media (min-width: 992px) {
  main .partners .container {
    gap: 20px 20px;
  }
}
@media (min-width: 1200px) {
  main .partners .container {
    justify-content: space-around;
  }
}
main .partners .container img {
  width: 25vw;
}
@media (min-width: 768px) {
  main .partners .container img {
    width: auto;
  }
}
main .features .container {
  border: 2px solid #f0efe9;
  display: flex;
  flex-direction: column;
}
@media (min-width: 992px) {
  main .features .container {
    padding: 50px;
    flex-direction: row;
  }
}
main .features .container .info {
  flex: 1;
  padding: 0px;
  margin-top: -20px;
  margin-bottom: 40px;
  text-align: center;
}
@media (min-width: 992px) {
  main .features .container .info {
    margin-bottom: 0px;
    padding: 50px;
  }
}
main .features .container .info h2 {
  margin-bottom: 50px;
}
@media (min-width: 992px) {
  main .features .container .info h2 {
    text-align: left;
  }
}
main .features .container .info h3 {
  margin-top: 40px;
}
@media (min-width: 992px) {
  main .features .container .info h3 {
    text-align: left;
    margin-top: 0px;
  }
}
main .features .container .info button {
  width: 90%;
}
main .features .container .grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-right: 0px;
}
@media (min-width: 1200px) {
  main .features .container .grid {
    margin-right: 50px;
  }
}
main .features .container .grid .content {
  padding: 1rem;
  max-width: 300px;
}
main .features .container .grid .content span {
  font-size: 1.75rem;
  margin-bottom: 30px;
}
main .features .container .grid h4 {
  padding-bottom: 15px;
}
main .about {
  margin-top: 9vh;
  margin-bottom: 9vh;
}
main .about .container {
  display: flex;
  gap: 14vw;
}
main .about .container .image-box {
  position: relative;
  flex: 1;
  display: none;
}
@media (min-width: 768px) {
  main .about .container .image-box {
    display: block;
  }
}
main .about .container .image-box img {
  margin-left: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 600px;
}
main .about .container .image-box .image-info {
  position: absolute;
  bottom: 50px;
  background-color: #beebff;
  box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.2);
  width: 70%;
  padding: 30px;
}
main .about .container .image-box .image-info h4 {
  display: inline;
}
main .about .container .image-box .image-info h3 {
  display: inline;
  font-size: 1rem;
}
main .about .container .image-box .image-info p {
  margin-top: 20px;
  color: #191919;
}
main .about .container .content-box {
  flex: 1;
}
main .about .container .content-box .buttons {
  display: flex;
  text-align: center;
  text-wrap: nowrap;
  flex-direction: column;
  margin-top: 0px;
}
@media (min-width: 768px) {
  main .about .container .content-box .buttons {
    text-align: left;
    flex-direction: row;
    margin-top: 20px;
  }
}
@media (min-width: 1200px) {
  main .about .container .content-box .buttons {
    margin-top: 60px;
  }
}
main .about .container .content-box .buttons .video-button {
  margin-top: 20px;
}
main .about .container .content-box .buttons .video-button button {
  margin-right: 10px;
}
@media (min-width: 768px) {
  main .about .container .content-box .buttons .video-button {
    margin-top: 0px;
    margin-left: 20px;
  }
}
@media (min-width: 1200px) {
  main .about .container .content-box .buttons .video-button {
    margin-left: 40px;
  }
}
main .about .container .content-box h2 {
  margin-bottom: 40px;
}
main .about .container .content-box p {
  margin-bottom: 40px;
}
main .services {
  background-color: #f0efe9;
  background-image: url("../img/background/background-lines-right.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
  animation: bg-size-bounce 10s infinite ease-in-out;
  padding-top: 9vh;
  padding-bottom: 9vh;
}
main .services .title {
  text-align: center;
}
@media (min-width: 1200px) {
  main .services .title {
    text-align: left;
  }
}
main .services .title h2 {
  margin-bottom: 40px;
}
main .services .gridbox {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 30px;
}
@media (min-width: 576px) {
  main .services .gridbox {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  main .services .gridbox {
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  }
}
main .services .gridbox .content {
  position: relative;
  background-color: white;
  max-height: 333px;
  padding: 30px;
  transition-duration: 0.3s;
}
main .services .gridbox .content .fa-horizontal-rule {
  padding-top: 10px;
  padding-bottom: 40px;
}
main .services .gridbox .content .button-box {
  display: flex;
  justify-content: right;
}
main .services .gridbox .content:hover {
  background-color: #f9d783;
}
main .services .gridbox .content:hover > .button-box > button {
  color: #191919;
  background-color: white;
}
main .services .browse {
  margin-top: 40px;
  text-align: center;
}
main .why-us {
  position: relative;
  margin-top: 7vh;
  margin-bottom: 9vh;
}
main .why-us .container {
  display: flex;
  justify-content: space-between;
}
main .why-us .container .content-box {
  text-align: center;
}
@media (min-width: 992px) {
  main .why-us .container .content-box {
    text-align: left;
    max-width: 450px;
  }
}
main .why-us .container .content-box h2 {
  margin-bottom: 5vh;
}
main .why-us .container .content-box .content {
  display: grid;
  text-align: left;
  grid-template-areas: "icon title" "icon text";
  grid-template-columns: auto 1fr;
  margin-top: 40px;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 992px) {
  main .why-us .container .content-box .content {
    margin-left: 0;
    margin-right: 0;
  }
}
main .why-us .container .content-box .content img {
  grid-area: icon;
  margin-right: 20px;
  padding: 15px;
  border: 2px solid #f0efe9;
  border-radius: 50px;
  overflow: visible;
}
main .why-us .container .content-box .content h4 {
  grid-area: title;
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
}
main .why-us .container .content-box .content p {
  grid-area: text;
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
}
main .why-us .container .image-box {
  display: none;
  width: 45vw;
  max-width: 650px;
  margin-top: 20px;
  filter: drop-shadow(5px 15px 25px rgba(0, 0, 0, 0.2));
}
main .why-us .container .image-box img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 85%;
}
@media (min-width: 992px) {
  main .why-us .container .image-box {
    display: block;
  }
}
main .why-us .grey-box {
  background-color: #f0efe9;
  position: absolute;
  z-index: -99;
  right: 0;
  bottom: 0;
  width: 55vw;
  height: 67%;
  display: none;
}
@media (min-width: 992px) {
  main .why-us .grey-box {
    display: block;
  }
}
main .studies {
  margin-top: 9vh;
  margin-bottom: 9vh;
}
main .studies .container {
  text-align: center;
}
main .studies .container .content-box {
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-top: 9vh;
}
main .studies .container .content-box .content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}
main .studies .container .content-box .content img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100px;
  width: 100%;
}
@media (min-width: 768px) {
  main .studies .container .content-box .content img {
    height: 200px;
  }
}
@media (min-width: 992px) {
  main .studies .container .content-box .content img {
    height: 250px;
  }
}
@media (min-width: 992px) {
  main .studies .container .content-box .content img {
    height: 300px;
  }
}
main .studies .container .content-box .content h4 {
  margin-top: 30px;
  margin-bottom: 15px;
}
main .studies .container .content-box a {
  display: block;
  text-align: right;
  font-size: 0.9rem;
  font-weight: 500;
  border-top: 2px solid #f0efe9;
  padding-top: 15px;
  padding-right: 10px;
}
@media (min-width: 992px) {
  main .studies .container .content-box a {
    padding-top: 30px;
    padding-right: 20px;
  }
}
main .studies .container button {
  margin-top: 5vh;
}
main .our-team {
  background-color: #edcf87;
  padding-top: 9vh;
}
main .our-team .title-box {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-bottom: 7vh;
}
@media (min-width: 992px) {
  main .our-team .title-box {
    justify-content: space-between;
    align-items: end;
    text-align: left;
    flex-direction: row;
  }
}
main .our-team .title-box button {
  outline: 1px solid #191919;
  margin-top: 30px;
}
@media (min-width: 992px) {
  main .our-team .title-box button {
    margin-top: 0;
    margin-bottom: 10px;
  }
}
main .our-team #carouselTeam {
  padding-bottom: 5vh;
}
main .our-team #carouselTeam .carousel-indicators button {
  background-color: #191919;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  margin: 0 8px;
  margin-bottom: -75px;
}
main .our-team #carouselTeam .carousel-inner .carousel-item .content-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
  text-wrap: nowrap;
}
@media (min-width: 992px) {
  main .our-team #carouselTeam .carousel-inner .carousel-item .content-box {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 30px;
  }
}
main .our-team #carouselTeam .carousel-inner .carousel-item .content-box .content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2rem 2rem;
  width: 100%;
}
main .our-team #carouselTeam .carousel-inner .carousel-item .content-box .content img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 15vh;
  margin-bottom: 30px;
}
@media (min-width: 576px) {
  main .our-team #carouselTeam .carousel-inner .carousel-item .content-box .content img {
    height: 25vh;
  }
}
@media (min-width: 992px) {
  main .our-team #carouselTeam .carousel-inner .carousel-item .content-box .content img {
    height: 38vh;
  }
}
main .our-team #carouselTeam .carousel-inner .carousel-item .content-box .content p {
  color: #191919;
  font-size: 0.75rem;
}
@media (min-width: 576px) {
  main .our-team #carouselTeam .carousel-inner .carousel-item .content-box .content p {
    font-size: 1rem;
  }
}
main .testimonials {
  background-color: #edcf87;
  padding: 7vh 0 9vh;
}
main .testimonials .container {
  background-color: white;
  text-align: center;
  padding: 5vh;
}
@media (min-width: 768px) {
  main .testimonials .container {
    padding: 9vh;
  }
}
main .testimonials .container .content-box {
  display: grid;
  justify-content: space-between;
  margin-top: 7vh;
  grid-template-columns: 1fr;
  gap: 50px;
}
@media (min-width: 992px) {
  main .testimonials .container .content-box {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1400px) {
  main .testimonials .container .content-box {
    grid-template-columns: repeat(3, 1fr);
  }
}
main .testimonials .container .content-box .content {
  width: 100%;
  text-align: left;
}
main .testimonials .container .content-box .content span {
  color: #f94d1c;
  font-size: 0.8rem;
  margin-right: 4px;
  margin-bottom: 20px;
}
main .testimonials .container .content-box .content .person-info {
  display: grid;
  grid-template-areas: "image name" "image title";
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr;
}
main .testimonials .container .content-box .content .person-info img {
  grid-area: image;
  margin-right: 20px;
}
main .testimonials .container .content-box .content .person-info h4 {
  grid-area: name;
  display: flex;
  align-items: center;
  height: 100%;
}
main .testimonials .container .content-box .content .person-info h3 {
  grid-area: title;
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 0.9rem;
  font-weight: 400;
}
main .testimonials .container button {
  margin-top: 7vh;
}
main .news {
  padding-top: 9vh;
  padding-bottom: 9vh;
}
main .news .title-box {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-bottom: 3vh;
}
@media (min-width: 992px) {
  main .news .title-box {
    justify-content: space-between;
    align-items: end;
    text-align: left;
    flex-direction: row;
  }
}
main .news .title-box button {
  margin-top: 30px;
}
@media (min-width: 992px) {
  main .news .title-box button {
    margin-top: 0;
    margin-bottom: 10px;
  }
}
main .news #carouselNews {
  padding-bottom: 5vh;
}
main .news #carouselNews .carousel-indicators button {
  background-color: #191919;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  margin: 0 8px;
  margin-bottom: -75px;
}
main .news #carouselNews .carousel-inner .carousel-item .content-box {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 15px;
}
@media (min-width: 992px) {
  main .news #carouselNews .carousel-inner .carousel-item .content-box {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 30px;
  }
}
main .news #carouselNews .carousel-inner .carousel-item .content-box .content {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2.5rem 4rem 4rem;
}
main .news #carouselNews .carousel-inner .carousel-item .content-box .content .date-box {
  background-color: #f9d783;
  position: absolute;
  top: 1.5vh;
  left: 1.5vh;
  line-height: 1.2rem;
  text-align: center;
  padding: 15px 15px 12px;
}
main .news #carouselNews .carousel-inner .carousel-item .content-box .content .date-box strong {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 1.3rem;
}
main .news #carouselNews .carousel-inner .carousel-item .content-box .content .date-box p {
  margin-bottom: 0;
}
main .news #carouselNews .carousel-inner .carousel-item .content-box .content img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 21vh;
  margin-bottom: 20px;
}
main .newsletter {
  background-color: #f0efe9;
  background-image: url("../img/background/background-wavy-lines.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 70%;
}
main .newsletter .container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  flex-wrap: nowrap;
  padding: 9vh 0;
}
@media (min-width: 1400px) {
  main .newsletter .container {
    flex-direction: row;
  }
}
main .newsletter .container form {
  margin-top: 25px;
}
@media (min-width: 1400px) {
  main .newsletter .container form {
    margin-top: 0;
  }
}
main .newsletter .container form input {
  width: 250px;
  margin: 0 15px;
  padding: 1rem 2.5rem;
}
@media (min-width: 768px) {
  main .newsletter .container form input {
    width: 300px;
  }
}
main .newsletter .container form button {
  margin-top: 20px;
}
@media (min-width: 1400px) {
  main .newsletter .container form button {
    margin-top: 0;
  }
}

footer {
  width: 100%;
  background-color: #0e1021;
}
footer .footer-upper {
  background-image: url("../img/background/background-lines-white-right.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
  animation: bg-size-bounce-small 15s infinite ease-in-out;
}
footer .footer-upper .container .navigation {
  display: flex;
  height: 250px;
}
footer .footer-lower {
  border-top: 1px solid #b6b6bc;
}
footer .footer-lower .container .copyright-social {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
footer .footer-lower .container .copyright-social p {
  color: #b6b6bc;
}
footer .footer-lower .container .copyright-social .social {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 25px;
       column-gap: 25px;
}
footer .footer-lower .container .copyright-social .social a {
  color: white;
}

#to-top {
  display: none;
  position: fixed;
  right: 3vw;
  bottom: 9vh;
  height: 2.8rem;
  width: 2.8rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  h2 {
    font-size: 2.2rem;
  }
}
@media (min-width: 992px) {
  h2 {
    font-size: 2.8rem;
  }
}

h3 {
  color: #f94d1c;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  h3 {
    font-size: 1.1rem;
  }
}
@media (min-width: 992px) {
  h3 {
    font-size: 1.2rem;
  }
}

h4 {
  font-size: 1rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  h4 {
    font-size: 1.2rem;
  }
}
@media (min-width: 992px) {
  h4 {
    font-size: 1.4rem;
  }
}

p {
  font-family: "Atkinson Hyperlegible", sans-serif;
  color: #5b5b5b;
}

button {
  height: 3.5rem;
  border-radius: 1.75rem;
  border: 1px solid transparent;
  padding: 0px 25px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  transition-duration: 0.4s;
}
button.btn-black {
  background-color: #191919;
  color: white;
}
button.btn-black:hover {
  background-color: white;
  border: 1px solid #191919;
  color: #191919;
}
button.btn-white {
  background-color: white;
}
button.btn-white:hover {
  background-color: #191919;
  color: white;
}
button.btn-orange {
  background-color: #f9d783;
}
button.btn-orange:hover {
  background-color: #191919;
  color: white;
}
button.btn-transparent {
  background-color: transparent;
  border: 1px solid black;
}
button.btn-transparent:hover {
  border: 1px solid #f9d783;
  color: white;
  background-color: black;
}
button.round {
  padding: 0;
  width: 3.5rem;
}

input,
textarea {
  font-family: "Atkinson Hyperlegible", sans-serif;
  border-radius: 25px;
  border: transparent;
  padding: 0.5rem 1.5rem;
}
@media (min-width: 1200px) {
  input,
  textarea {
    border-radius: 50px;
    padding: 1rem 2.5rem;
  }
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: #b6b6bc;
}
input::placeholder,
textarea::placeholder {
  color: #b6b6bc;
}
input:focus,
textarea:focus {
  outline: 3px solid #f9d783;
}

textarea {
  min-height: 2.5rem;
}
@media (min-width: 1200px) {
  textarea {
    min-height: 3.5rem;
  }
}

.s404 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.s404 main {
  flex-grow: 1;
}
.s404 main .sub-header {
  margin-top: 9vh;
}
.s404 main img {
  padding: 50px;
}