* {
   box-sizing: border-box;
}

$color-yellow: #f9d783;
$color-darker-yellow: #edcf87;
$color-accent-blue: #beebff;
$color-nearly-black: #191919;
$color-background-grey: #f0efe9;

$bs-s: 576px;
$bs-m: 768px;
$bs-l: 992px;
$bs-xl: 1200px;
$bs-xxl: 1400px;

$button-height: 3.5rem;
// $button-height: 52px;

html,
body {
   height: 100%;
   color: $color-nearly-black;

   a {
      text-decoration: none;
   }
}

header {
   background-color: $color-background-grey;
   display: flex;
   justify-content: center;
   align-content: center;

   padding: 1rem;

   .header {
      display: flex;

      .logo {
         display: flex;
         size: 50%;
         align-items: center;

         margin-right: 0px;

         @media (min-width: $bs-s) {
            margin-right: 25px;
         }

         @media (min-width: $bs-l) {
            margin-right: 50px;
         }

         img {
            max-width: 100%;
            height: auto;
         }
      }

      /* contact-social-nav-account */
      .csna {
         display: flex;
         flex-direction: column;

         .contact-social {
            display: flex;
            justify-content: flex-end;
            border: solid #a8b3bf;
            border-width: 0px 0px 1px;
            padding-bottom: 10px;
            font-size: 0.93em;

            @media (min-width: $bs-l) {
               justify-content: space-between;

            }

            .contact {
               color: #49494d;
               font-weight: 300;
               display: none;
               align-items: center;
               justify-items: flex-end;
               gap: 20px;

               @media(min-width: $bs-l) {
                  display: flex;
               }
            }

            .social {
               display: flex;
               gap: 20px;

               font-size: 1.5em;

               a {
                  color: inherit;
                  transition-duration: 0.3s;

                  &:hover {
                     color: $color-darker-yellow;
                     text-shadow: 0px 0px 10px #6666ff;
                  }
               }

            }
         }

         .navigation-account {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;

            nav {
               display: flex;
               gap: 05px;

               font-size: 1em;
               font-weight: 600;

               @media (min-width: $bs-s) {
                  display: flex;
                  gap: 30px;
               }

               a {
                  color: inherit;
                  text-decoration: none;

                  &.current {
                     text-decoration: underline;
                     text-decoration-style: double;
                  }

                  &:hover {
                     text-decoration: underline;
                  }
               }
            }

            .account {
               display: none;

               @media (min-width: $bs-m) {
                  display: block;
               }
            }
         }
      }
   }
}

main {
   height: 90%;

   .showcase {
      background-color: $color-background-grey;
      padding-top: 2rem;

      background-image: url("../img/background/background-lines.svg");
      background-repeat: no-repeat;
      background-position: bottom left;
      animation: bg-size-bounce 10s infinite ease-in-out,
         bg-enter-left 1.0s ease-in-out;

      .container {
         animation: enter-right 0.8s ease-in-out;
         display: flex;

         .jumbo {
            margin-top: 20px;
            margin-bottom: 50px;
            text-align: center;

            @media (min-width: $bs-xl) {
               margin-top: 90px;
               margin-bottom: 0;
               text-align: left;
            }

            .content {
               display: flex;
               flex-direction: column;
               justify-items: center;
            }
         }

         img {
            display: none;

            @media (min-width: $bs-xl) {
               display: block;
            }
         }

         h1 {
            font-family: 'Inter bold', sans-serif;
            font-size: 3em;
            font-weight: 700;

            @media (min-width: $bs-m) {
               font-size: 4em;
            }

            @media (min-width: $bs-l) {
               font-size: 5em;
            }
         }

         p {
            color: #5b5b5b;
            font-size: 1em;
            margin-top: 1.5rem;
            margin-bottom: 3rem;

            @media (min-width: $bs-s) {
               font-size: 1.2em;
            }
         }

         button {
            // height: 10px;
         }

         @media (min-width: 1200px) {}
      }
   }

   .partners {
      padding-top: 6rem;
      animation: enter-bottom 1s ease-in-out;

      .container {
         display: flex;
         justify-content: space-around;
      }
   }
}

footer {
   // width: 100%;
   height: 3rem;

   border: solid $color-nearly-black;
   border-width: 1px 0px 0px;
   // padding: 1rem;

   bottom: 0;

   display: flex;

   justify-content: center;
   align-items: center;

   a {
      color: rgb(133, 133, 133);

      &:hover {
         color: rgb(184, 184, 184);
      }
   }
}


p {
   font-family: 'Atkinson Hyperlegible', sans-serif;
}

button {
   height: $button-height;
   border-radius: calc($button-height / 2);
   border: 1px solid transparent;
   padding: 0px 25px;

   font-family: 'Inter', sans-serif;
   font-weight: 600;

   transition-duration: 0.4s;

   &.btn-black {
      background-color: $color-nearly-black;
      color: white;

      &:hover {
         background-color: white;
         color: $color-nearly-black;
      }
   }

   &.btn-white {
      background-color: white;

      &:hover {
         background-color: $color-nearly-black;
         color: white;
      }
   }

   &.btn-orange {
      background-color: $color-yellow;

      &:hover {
         background-color: $color-nearly-black;
         color: white;
      }
   }

   &.btn-transparent {
      background-color: transparent;
      border: 1px solid black;

      &:hover {
         border: 1px solid $color-yellow;
         color: white;
         background-color: black;
      }
   }

   &.login {
      padding: 0px 39px;
   }
}

@keyframes enter-right {
   0% {
      translate: 100vw;
      opacity: 0;
   }

   30% {
      opacity: 0;
   }

   100% {
      translate: 0;
      opacity: 100;
   }
}

@keyframes enter-left {
   0% {
      translate: -100vw;
   }

   30% {
      opacity: 0;
   }
}

@keyframes enter-bottom {
   0% {
      translate: 0 100%;
      opacity: 0;
   }
}

@keyframes bounce-updown {

   0%,
   100% {
      translate: 0 0vh;
   }

   50% {
      translate: 0 -2vh;
   }
}

@keyframes bg-enter-left {
   0% {
      background-position-x: -100vw;
   }
}

@keyframes bg-size-bounce {

   0%,
   100% {
      background-size: 42% auto;
   }

   50% {
      background-size: 39% auto;
   }
}