@use "variables" as *;
@use "anim" as *;

* {
   box-sizing: border-box;
}

html,
body {
   color: $color-nearly-black;
   font-family: 'Inter bold', sans-serif;

   a {
      color: $color-nearly-black;
      text-decoration: none;
   }
}

header {
   width: 100%;
   background-color: $color-background-grey;
   display: flex;
   justify-content: center;
   align-content: center;

   padding: 1rem;

   .container {
      display: flex;

      .logo {
         display: none;
         size: 50%;
         align-items: center;

         margin-right: 0px;

         @media(min-width: $bs-m) {
            margin-right: 5px;
            display: flex;
         }

         @media(min-width: $bs-xl) {
            margin-right: 50px;
            display: flex;
         }
      }

      /* contact-social-nav-account */
      .csna {
         display: flex;
         flex-direction: column;
         width: 100%;

         .contact-social {
            display: flex;
            justify-content: space-between;
            border: solid #a8b3bf;
            border-width: 0px 0px 1px;
            padding-bottom: 0px;
            font-size: 0.93em;


            @media (min-width: $bs-m) {
               justify-content: flex-end;
               padding-bottom: 10px;
            }

            @media (min-width: $bs-l) {
               justify-content: space-between;
            }

            .contact {
               color: #49494d;
               font-weight: 300;
               display: none;
               align-items: center;
               justify-items: flex-end;
               gap: 20px;

               @media(min-width: $bs-l) {
                  display: flex;
               }
            }

            .small-logo {
               display: flex;

               img {
                  height: 75%;
               }

               @media(min-width: $bs-m) {
                  display: none;
               }
            }

            .social {
               display: flex;
               gap: 15px;

               font-size: 1.5em;

               a {
                  color: inherit;
                  transition-duration: 0.3s;

                  &:hover {
                     color: $color-darker-yellow;
                     text-shadow: 0px 0px 10px #6666ff;
                  }
               }

            }
         }

         .navigation-account {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;

            nav {
               display: flex;
               gap: 5px;

               font-size: 1em;
               font-weight: 600;

               @media (min-width: 400px) {
                  gap: 15px;
               }

               @media (min-width: $bs-s) {
                  gap: 30px;
               }

               a {
                  color: inherit;
                  text-decoration: none;

                  &.current {
                     text-decoration: underline;
                     text-decoration-style: double;
                  }

                  &:hover {
                     text-decoration: underline;
                  }
               }
            }

            .account-mobile {
               display: block;
               margin-left: 10px;

               button {
                  height: calc($button-height / 2);
               }

               @media (min-width: $bs-m) {
                  display: none;
               }
            }

            .account-large {
               display: none;

               @media (min-width: $bs-m) {
                  display: block;
               }
            }
         }
      }
   }
}

main {
   width: 100%;

   .showcase {
      background-color: $color-background-grey;
      padding-top: 2rem;

      background-image: url("../img/background/background-lines.svg");
      background-repeat: no-repeat;
      background-position: bottom left;
      animation: bg-size-bounce 10s infinite ease-in-out,
         bg-enter-left 1.0s ease-in-out;

      .container {
         animation: enter-right 0.8s ease-in-out;
         display: flex;

         img {
            display: none;

            @media (min-width: $bs-xl) {
               display: block;
            }
         }

         .jumbo {
            margin-top: 20px;
            margin-bottom: 50px;
            text-align: center;

            @media (min-width: $bs-xl) {
               margin-top: 90px;
               margin-bottom: 0;
               text-align: left;
            }

            .content {
               display: flex;
               flex-direction: column;
               justify-items: center;

               h1 {
                  font-size: 3em;
                  font-weight: 700;

                  @media (min-width: $bs-m) {
                     font-size: 4em;
                  }

                  @media (min-width: $bs-l) {
                     font-size: 5em;
                  }
               }

               p {
                  font-size: 1em;
                  margin-top: 1.5rem;
                  margin-bottom: 3rem;

                  @media (min-width: $bs-s) {
                     font-size: 1.2em;
                  }
               }

               #learn-more {
                  margin-left: 0rem;
                  margin-top: 1rem;

                  @media (min-width: 400px) {
                     margin-left: 1rem;
                     margin-top: 0;

                  }
               }
            }
         }
      }
   }

   .partners {
      padding-top: 4vh;
      padding-bottom: 4vh;
      animation: enter-bottom 1s ease-in-out;

      @media (min-width: $bs-l) {
         padding-top: 6rem;
         padding-bottom: 6rem;
      }

      .container {
         display: flex;
         flex-wrap: wrap;
         justify-content: space-evenly;
         gap: 20px 20px;

         @media (min-width: $bs-m) {
            gap: 20px 60px;
         }

         @media (min-width: $bs-l) {
            gap: 20px 20px;
         }

         @media (min-width: $bs-xl) {
            justify-content: space-around;
         }

         img {
            width: 25vw;

            @media (min-width: $bs-m) {
               width: auto;
            }
         }
      }
   }

   .features {

      .container {
         border: 2px solid $color-background-grey;
         display: flex;
         flex-direction: column;


         @media (min-width: $bs-l) {
            padding: 50px;
            flex-direction: row;
         }

         .info {
            flex: 1;
            padding: 00px;
            margin-top: -20px;
            margin-bottom: 40px;
            text-align: center;

            @media (min-width: $bs-l) {
               margin-bottom: 00px;
               padding: 50px;
            }

            h2 {
               margin-bottom: 50px;

               @media (min-width: $bs-l) {
                  text-align: left;
               }
            }

            h3 {
               margin-top: 40px;

               @media (min-width: $bs-l) {
                  text-align: left;
                  margin-top: 0px;
               }
            }

            button {
               width: 90%;
            }
         }

         .grid {
            flex: 1;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin-right: 0px;

            @media (min-width: $bs-xl) {
               margin-right: 50px;
            }

            .content {
               padding: 1rem;

               max-width: 300px;

               span {
                  font-size: 1.75rem;
                  margin-bottom: 30px;
               }
            }

            h4 {
               padding-bottom: 15px;
            }
         }
      }
   }

   .about {
      margin-top: $gap-large;
      margin-bottom: $gap-large;

      .container {
         display: flex;
         gap: 14vw;

         .image-box {
            position: relative;
            flex: 1;

            display: none;

            @media (min-width: $bs-m) {
               display: block;
            }

            img {
               margin-left: 50px;
               object-fit: cover;
               width: 100%;
               height: 600px;
            }

            .image-info {
               position: absolute;
               bottom: 50px;

               background-color: $color-accent-blue;
               box-shadow: 5px 15px 25px #00000033;

               width: 70%;
               padding: 30px;

               h3 {
                  display: inline;
                  font-size: 1rem;
               }

               h4 {
                  display: inline;
               }

               p {
                  margin-top: 20px;
                  color: $color-nearly-black;
               }
            }
         }

         .content {
            flex: 1;

            .buttons {
               display: flex;
               text-wrap: nowrap;

               margin-top: 0px;

               @media (min-width: $bs-m) {
                  margin-top: 20px;
               }

               @media (min-width: $bs-xl) {
                  margin-top: 60px;
               }


               .video-button {
                  margin-left: 20px;

                  button {
                     margin-right: 10px;
                  }

                  @media (min-width: $bs-xl) {
                     margin-left: 40px;
                  }
               }
            }

            h2 {
               margin-bottom: 40px;
            }

            p {
               margin-bottom: 40px;
            }
         }
      }
   }

   .services {
      background-color: $color-background-grey;

      padding-top: $gap-large;
      padding-bottom: $gap-large;

      .title {
         text-align: center;

         @media (min-width: $bs-xl) {
            text-align: left;
         }

         h2 {
            margin-bottom: 40px;
         }
      }

      .gridbox {
         display: grid;
         grid-template-columns: 1fr;

         justify-content: center;
         gap: 30px;

         @media (min-width: $bs-s) {
            grid-template-columns: 1fr 1fr;
         }

         @media (min-width: $bs-xl) {
            grid-template-columns: repeat(auto-fit, minmax(250px, auto));
         }

         .content {
            position: relative;
            background-color: white;
            max-height: 333px;

            padding: 30px;

            transition-duration: 0.3s;

            .fa-horizontal-rule {
               padding-top: 10px;
               padding-bottom: 40px;
            }

            .button-box {
               display: flex;
               justify-content: right;
            }


            &:hover {
               background-color: $color-yellow;
            }

            &:hover>.button-box>button {
               color: $color-nearly-black;
               background-color: white;
            }
         }
      }

      .browse {
         margin-top: 40px;
         text-align: center;
      }

      background-image: url("../img/background/background-lines-right.svg");
      background-repeat: no-repeat;
      background-position: bottom right;
      animation: bg-size-bounce 10s infinite ease-in-out;
   }

   .studies {
      margin-top: $gap-large;
      margin-bottom: $gap-large;

      .container {
         text-align: center;

         .content-box {
            text-align: left;
            display: grid;
            grid-template-columns: 1fr 1fr;
            // grid-template-rows: 1fr 1fr;
            gap: 30px;

            margin-top: $gap-large;

            .content {
               display: grid;
               grid-template-columns: 1fr;
               grid-template-rows: auto 1fr auto;

               img {
                  object-fit: cover;
                  height: 100px;
                  width: 100%;

                  @media (min-width: $bs-m) {
                     height: 200px;
                  }

                  @media (min-width: $bs-l) {
                     height: 250px;
                  }

                  @media (min-width: $bs-l) {
                     height: 300px;
                  }
               }

               h4 {
                  margin-top: 30px;
                  margin-bottom: 15px;
               }
            }

            a {
               display: block;
               text-align: right;

               font-size: 0.9rem;
               font-weight: 500;

               border-top: 2px solid $color-background-grey;

               padding-top: 15px;
               padding-right: 10px;

               @media (min-width: $bs-l) {
                  padding-top: 30px;
                  padding-right: 20px;

               }
            }
         }

         button {
            margin-top: $gap-small;
         }
      }
   }

   #to-top {
      display: none;
      position: fixed;
      right: 3vw;
      bottom: $gap-large;

      height: calc($button-height * 0.8);
      width: calc($button-height * 0.8);
   }
}

footer {
   width: 100%;
   background-color: $color-footer-background;

   .footer-upper {
      background-image: url("../img/background/background-lines-white-right.svg");
      background-repeat: no-repeat;
      background-position: bottom right;
      animation: bg-size-bounce-small 15s infinite ease-in-out;

      .container {

         .navigation {
            display: flex;
            height: 250px;
         }
      }
   }

   .footer-lower {
      border-top: 1px solid $color-footer-text;

      .container {

         .copyright-social {
            display: flex;
            justify-content: space-between;

            padding-top: 20px;

            p {
               color: $color-footer-text;
            }

            .social {

               a {
                  color: white;
               }

               display: grid;
               grid-template-columns: repeat(4, 1fr);
               column-gap: 25px;
            }
         }
      }
   }

}

// Section titles
h2 {
   font-size: 1.5rem;
   font-weight: 700;

   @media (min-width: $bs-m) {
      font-size: 2.2rem;
   }

   @media (min-width: $bs-l) {
      font-size: 2.8rem;
      // font-weight: 700;
   }
}

// Red section highlight
h3 {
   color: $color-accent-red;
   font-size: 1.2rem;
   font-weight: 600;

   margin-bottom: 20px;
}

// Section content titles
h4 {
   font-size: 1.0rem;
   font-weight: 700;

   @media (min-width: $bs-m) {
      font-size: 1.2rem;
   }

   @media (min-width: $bs-l) {
      font-size: 1.4rem;
   }
}

p {
   font-family: 'Atkinson Hyperlegible', sans-serif;
   color: #5b5b5b;
}

button {
   height: $button-height;
   border-radius: calc($button-height / 2);
   border: 1px solid transparent;
   padding: 0px 25px;

   font-family: 'Inter', sans-serif;
   font-weight: 600;

   transition-duration: 0.4s;

   &.btn-black {
      background-color: $color-nearly-black;
      color: white;

      &:hover {
         background-color: white;
         border: 1px solid $color-nearly-black;

         color: $color-nearly-black;
      }
   }

   &.btn-white {
      background-color: white;

      &:hover {
         background-color: $color-nearly-black;
         color: white;
      }
   }

   &.btn-orange {
      background-color: $color-yellow;

      &:hover {
         background-color: $color-nearly-black;
         color: white;
      }
   }

   &.btn-transparent {
      background-color: transparent;
      border: 1px solid black;

      &:hover {
         border: 1px solid $color-yellow;
         color: white;
         background-color: black;
      }
   }

   &.round {
      padding: 0;
      width: $button-height;
   }
}

input,
textarea {
   font-family: "Atkinson Hyperlegible", sans-serif;
   border-radius: 25px;
   border: transparent;

   padding: 0.5rem 1.5rem;

   @media (min-width: $bs-xl) {
      border-radius: 50px;
      padding: 1rem 2.5rem;
   }

   &::placeholder {
      color: $color-footer-text;
   }

   &:focus {
      outline: 3px solid $color-yellow;
   }
}

textarea {
   min-height: 2.5rem;

   @media (min-width: $bs-xl) {
      min-height: 3.5rem;
   }
}

.s404 {
   height: 100vh;
   display: flex;
   flex-direction: column;

   text-align: center;

   main {
      flex-grow: 1;

      .sub-header {
         margin-top: $gap-large;
      }

      img {
         padding: 50px;
      }
   }

}