$color-nearly-black: #191919;
$color-yellow: #f9d783;
$color-yellow-darker: #edcf87;
$color-accent-red: #f94d1c;
$color-accent-blue: #beebff;
$color-background-grey: #f0efe9;
$color-background-footer: #0e1021;
$color-text-footer: #b6b6bc;
$color-text-darkgrey: #5b5b5b;

$gap-small: 5vh;
$gap-medium: 7vh;
$gap-large: 9vh;

// Bootstraps width cutoffs
$bs-s: 576px;
$bs-m: 768px;
$bs-l: 992px;
$bs-xl: 1200px;
$bs-xxl: 1400px;

$button-height: 3.5rem;