$color-yellow: #f9d783;
$color-darker-yellow: #edcf87;
$color-accent-blue: #beebff;
$color-nearly-black: #191919;
$color-background-grey: #f0efe9;
$color-accent-red: #f94d1c;
$color-footer-background: #0e1021;
$color-footer-text: #b6b6bc;

$gap-small: 5vh;
$gap-medium: 7vh;
$gap-large: 9vh;

// Bootstraps width cutoffs
$bs-s: 576px;
$bs-m: 768px;
$bs-l: 992px;
$bs-xl: 1200px;
$bs-xxl: 1400px;

$button-height: 3.5rem;